<ion-side-menus>
    <ion-side-menu-content>
      <ion-header-bar>
        <div class="buttons">
          <button class="icon button button-clear ion-navicon-round" ng-click="toggleLeft()">
        </div>
        <h1 class="title">Discover</h1>
      </ion-header-bar>
    </ion-side-menu-content>
    <ion-side-menu side="left">
      <ion-list>
        <ion-item nav-clear menu-close href="#/tab/favorites">Favorites</ion-item>
        <ion-item nav-clear menu-close href="#/tab/authorization">Authorization</ion-item>
        <ion-item>Home</ion-item>
      </ion-list>
    </ion-side-menu>
  </ion-side-menus>